
/*/////////////////////////////////////////////////  Heading  ////////////////////////////////////////////////*/
 
 .nav-item .btn-secondary{
    background-color: Transparent;
    border: none;
    color: white!important;
    font-size: 25px;
}


html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color: white;
}

.Opening {
    background-image: url("/../Img/Laptop.jpg");
    background: "fixed";
    height: 100%;
    width: auto;
    background-size: cover!important; 
}

.img-logo{
    max-width: 150px;
    max-height: 150px;
    margin-left: 30px;
}

.Opening .container{
    align-content: right;
}
.logo{
    width:6%;
    height:6%;
    color: white;
}

.container .nav-list{
    margin-left: 30%;
}

.nav .container{
    margin-top: 15px;
}

.nav-item{
    margin-right: 10px;   
}

.Logo-Text{
     text-align: center;
}

.nav-item .btn-danger{
    color: white!important;
    border-radius: 0 !important;
    font-size: 25px!important;
}

form.example button {
    float: left;
    width: 20%;
    margin-top: 15px;
    padding: 25px;
    background: transparent;
    color: white;
    font-size: 24px;
    border:  transparent;
    border-left: none;
    cursor: pointer;
}


/*//////////////////////////////////////////////////  Cards  //////////////////////////////////////////////////*/

.card-1{
    margin-left: 30%!important;
}
.card{
    margin: 280px 20px;   
    margin-bottom: 10px; 
    width: 250px;
    height: 350px; 
}
.card .card-body{ 
    background-color: rgb(134, 130, 130);
}

/*////////////////////////////////////////////////// Carousal //////////////////////////////////////////////////*/

.carousel-item {
    height: 450px;
  }
  
  .carousel-image-1 {
    background: url('../Img/Blank.jpg');
    background-size: cover;
  }
  
  .carousel-image-2 {
    background: url('../Img/Blank.jpg');
    background-size: cover;
  }
  
  .carousel-image-3 {
    background: url('../Img/Blank.jpg');
    background-size: cover;
  }
  
/*//////////////////////////////////////////////// About Section ////////////////////////////////////////////////*/

.sec-2{
    background-color: white!important;
}

.sec-2 .text-center p{
    color: black;
}

.sec-2 .about{
    margin: 180px; 
}
/*//////////////////////////////////////////////// Grid Section ////////////////////////////////////////////////*/

.grid-container .grid-item .img{
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-container .grid-item{
    text-align: center;
    background: white;
}

/*/////////////////////////////////////////////// Image Gallery ///////////////////////////////////////////////*/

.col-3 .images{
    background: url('../Img/Building.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 300px; 
    text-align: center;  
}

.Web-Icon
	{
        height: 10%;
        width:  20%;
        margin-top: 15%;
        margin-left: 50%;
	}

/*////////////////////////////////////////////////// Footer //////////////////////////////////////////////////*/


footer{
    background-color: black!important;
}
p{
    color: white;
}

h2{
    font-size: 14px!important;
    color: gray!important;
}

h5{
    font-size: 14px!important;
    color: white!important;
}

.row-2{
    color: white;
}

.row-1{
    color: white;
}

.row-1 .column-1 h4{
    font-size: 50px;
}

.column-1{
    width:45%; 
}

.column-2{
    float:left;
    width:25%; 
}

.column-3{
    width:30%;
}

.row-1{
    padding-top: 200px;
}
.row-2{
    padding-top: 200px;
}

.row-3 .column-0{
    width:20%; 
}

.row-3 .column-1{
    width:16%; 
}

.row-3 .column-2{
    width:9%; 
}
.row-3 .column-3{
    width:16%; 
}

.row-3 .column-4{
    width:9%; 
}

.row-3 .column-5{
    width:11%; 
}
.row-3 .column-6{
    width:9%; 
}

.row .btn{
    margin: -20px -100px; 
    position:relative;
    top:50%; 
    left:50%;
    margin-bottom:120px;
    margin-top: 40px;
    border-radius: 0 !important;
    width: 200px;
    height: 60px;
}


#f2{
    border-top: 1px solid rgba(255,255,255,0.2);
}

#f1{
    padding-top: 130px;
}